<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="shopping-list">
        <h1>{{header ? header.toLocaleUpperCase() : "Welcone Vue"}}</h1>
        <!-- also can use 
        <h1>{{header.toLocaleUpperCase() || "Welcone Vue"}}</h1> -->
        <!-- <input v-model="header">  For input-->
          <!-- input -->
        <input v-model="newItem" type="text" placeholder="Add an Item">
        <li v-for="item in items" :key="item.id"> {{item.label}}</li>
        <!-- we can also write this way
        <li v-for="(item, key) in items" :key="item.id">{{key}} {{item.label}}</li> -->

       
        <!-- Radio -->
        <label>Priority<input type="radio" v-model="newItemProperty" value="low">LOW</label>
        <label><input type="radio" v-model="newItemProperty" value="high">High</label>
        <br>
        {{newItem}} <br> {{newItemProperty}}
        <br>
        <!-- Select -->
        <label>
            gender
            <select v-model="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </label>
        <br>

        <!-- CheckBox -->
         <label>
            <input type="checkbox" v-model="priorityCheck"> PriorityCheck
         </label>
         {{priorityCheck}}
         <br>
         Choose ice creame Falvor
         <label><input type="checkbox" v-model="iceCream">Vanila</label>
         <label><input type="checkbox" v-model="iceCream">Strawberry</label>
         <label><input type="checkbox" v-model="iceCream">Cream</label>
         <label><input type="checkbox" v-model="iceCream">Mango</label>

            
            
         </ul>
    </div>
    <!-- <script src="https://unpkg.com/vue@3"></script> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <script>
        const shoppingList = Vue.createApp({
            data(){
                return{
                    header:" Shopping List App",
                    newItem:'',
                    newItemProperty:'low',
                    gender:'male',
                    priorityCheck:'false',
                    iceCream:[],
                    items: [
                        {id:1, label:"10 party hats"},
                        {id:2, label:"2 board games"},
                        {id:3, label:"20 cups"},
                    ]  
                  
                }
            }
        }).mount('#shopping-list')
    </script>
</body>
</html>
